# Disabled login
GF_AUTH_ANONYMOUS_ENABLED=false

# Credentials
GF_SECURITY_ADMIN_USER=your_admin_user
GF_SECURITY_ADMIN_PASSWORD=your_admin_password

# Role
GF_AUTH_ANONYMOUS_ORG_ROLE=Admin

# Embedding
GF_SECURITY_ALLOW_EMBEDDING=true